/* ===== RESET GENERAL ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== BASE GLOBAL ===== */
html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9fafb;
}

/* ===== HEADER ===== */
.main-header {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
  padding: 20px 30px; /* 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

/* ===== NAVBAR ===== */
.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 100%;
}

/* ===== LOGO ===== */
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo-circulo {
  width: 35px;
  height: 35px;
  background-color: #e6e0f8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-circulo img {
  width: 20px;
}

.nombre-sistema {
  font-size: 18px;
  font-weight: 600;
  color: #4b3ca7;
}

/* ===== LINKS NAV (CENTRADOS REAL) ===== */
.LinksNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* LINKS */
.nav-link {
  text-decoration: none;
  color: #444;
  font-size: 20px;
  padding: 6px 16px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

/* HOVER */
.nav-link:hover {
  background-color: #eee;
}


.nav-link.activo {
  background-color: #4b3ca7;
  color: #fff;
  font-weight: 500;
}


.user-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}



.admin-badge {
  background-color: #d4f5e9;
  color: #1a8f6a;
  padding: 5px 12px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
}



.content {
  flex: 1;
  width: 100%;
  padding-top: 20px; 
  
}



.footer {
  text-align: center;
  background-color: white;
  padding: 1.5rem;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
  border-top: 1px solid #eee;
}

.footer p {
  color: #000000;
  margin-bottom: 0.5rem;
}

.social img {
  width: 0.5px;
  height: auto;
  margin: 0 0.5rem;
  transition: transform 0.3s;
}

.social img:hover {
  transform: scale(1.2);
}
}