@if (mostrarLayout) {
  <!-- header con el menu principal -->
  <header>
    <nav>
      <div class="LinksNav">
        <!-- links para navegar en la app -->
        <a class="btn-fondo" routerLink="/inventory" routerLinkActive="activo">Inventario</a>
        <a class="btn-fondo" routerLink="/sales" routerLinkActive="activo">Ventas</a>
        <a class="btn-fondo" routerLink="/purchases" routerLinkActive="activo">Compras</a>
        <a class="btn-fondo" routerLink="/reports" routerLinkActive="activo">Informes</a>
      </div>
    </nav>
  </header>
}

<main>
  <!-- aqui se cargan las paginas -->
  <router-outlet></router-outlet>
</main>

@if (mostrarLayout) {
  <!-- footer de la pagina -->
  <footer class="footer">
    <p>© 2026 Droguería Pili Todos los derechos reservados</p>

    <!-- redes sociales -->
    <div class="social">
      <a href="https://www.instagram.com/tu-usuario">
        <img src="assets/Instagram.png" alt="Instagram">
      </a>
    </div>
  </footer>
}